.Header {
    background-color: #1F1F21;
    height: 75px;
}

.Header a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 75px;
    padding-left: 20px;
}

.Header a:hover {
    color: gray;
}